<html ng-app="Carbon8">
    <head>
        <title>AWS Rekognition</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
         integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <!-- If you'd like to support IE8 -->
        <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet" />
        <link rel="stylesheet" href="javascripts/videojs.markers.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
    </head>
  
    <body ng-controller="HomeController">
      <div class="container-fluid">
        <div class="text-center" style="margin-top: 30px;">
          <h1>Demo AWS Rekognition !</h1>
        </div>
  
        <form action="#" method="post" enctype="multipart/form-data" id="mainform" ng-show="showVideo === false">
            <input type="hidden" name="AWSAccessKeyId" value="AKIAIJ5EK3E4XWH4TG4Q">
            <input type="hidden" name="acl" value="public-read">
            <input type="hidden" name="success_action_status" value="201">
            <input type="hidden" name="policy" value="eyJleHBpcmF0aW9uIjoiMjAxOC0wMS0xN1QwMjo0MDo0Ny4wMDhaIiwiY29uZGl0aW9ucyI6W1sic3RhcnRzLXdpdGgiLCIka2V5IiwibmV3LXVwbG9hZHMvIl0seyJidWNrZXQiOiJraG9hLXRlc3QtdXBsb2FkIn0seyJhY2wiOiJwdWJsaWMtcmVhZCJ9LHsic3VjY2Vzc19hY3Rpb25fc3RhdHVzIjoiMjAxIn1dfQ==">
            <input type="hidden" name="signature" value="xkCNtWUbXq85AoKEL9mmMxVoifI=">

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-3">Select image to upload</label>
                    <div class="col-sm-9 uploadholder1">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-9 offset-md-3">
                        <ul class="list-group items" id='lstimages'>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="showUploadVideo" name="" ng-disabled="uploading"
                            value="1" ng-checked="showUploadVideo === '1'" ng-change="hideUploadVideo(false)">Select video to upload</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="showUploadVideo" name="" ng-disabled="uploading"
                            ng-checked="showUploadVideo === '2'" ng-change="hideUploadVideo(true)" value="2">Select existing video</label>
                        </div>
                    </div>
                    <div class="col-sm-9 uploadholder2">
                        <select class="form-control" style="display: none" id="selCol" ng-model="currentCollection"
                         ng-options="item.name for item in collectionList">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-9 offset-md-3">
                        <ul class="list-group items" id='lstvideo'>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-9 offset-md-3">
                        <p ng-bind-html="to_trusted(uploadMessage)"></p>
                        <a href='javascript:void(0);' id='btnupload' ng-click="doUpload()" class="btn btn-primary">Upload</a>
                    </div>
                </div>
            </div>
        </form>

        <div id="mainvideo" class="ng-hide" ng-show="showVideo === true">
            <div class="videoholder"></div>
                <div class="alert alert-success mt-4" ng-show="isloading">
                    <div class="text-center">Please wait....<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"
                        style="vertical-align: middle;"></i></div>
                </div>
                <div class="alert text-center mt-4" ng-show="isloading === false">
                    <a href='javascript:void(0);' id='btnstartagain' ng-click="startAgain()" class="btn btn-success">Back</a>
                </div>
                <div class="row mt-4" ng-bind-html="to_trusted(imgList)"></div>
            </div>
        </div>

        <script src="javascripts/jquery.min.js"></script>
        <script src="javascripts/bootstrap.bundle.js" type="text/javascript"></script>
        <script src="http://vjs.zencdn.net/6.4.0/video.js"></script>
        <script src="javascripts/videojs-markers.js"></script>
        <!-- angular  -->
        <script src="javascripts/angular.min.js"></script>
        <script src="javascripts/angular-cookies.min.js"></script>
        <script src="javascripts/angular-sanitize.min.js"></script>
        <!-- template engineer -->
        <script src="javascripts/handlebars.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
        <script src="javascripts/fileupload/vendor/jquery.ui.widget.js"></script>
        <script src="javascripts/fileupload/jquery.fileupload.js" type="text/javascript"></script>
        <!-- The File Upload processing plugin -->
        <script src="javascripts/fileupload/jquery.fileupload-process.js"></script>
        <script src="javascripts/fileupload/jquery.fileupload-validate.js" type="text/javascript"></script>
        <!-- <script type="text/javascript" src="javascripts/upload.js"></script> -->
        <script type="text/javascript" src="javascripts/app.js"></script>
        <script type="text/javascript" src="javascripts/home.js"></script>
  </body>
</html>