.ng-hide{display: none}

.btn:focus {
    color: #fff;
}
.container-fluid {margin-bottom: 20px}
.videoholder {
    width: 50%;
    margin-left: 25%;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}
.custom-card {
    width: 100%;
}
.custom-card .d-table {
    width: 100%;
}
.custom-card .d-table-cell { height: 250px}
.custom-card .img-fluid {
    max-height: 100%;
    width: auto;
}
.atframe .list-inline-item span{cursor: pointer}
/*.atframe .list-inline-item{margin-left: 10px; margin-right: 0}*/
/*.atframe .list-inline-item:first-child{margin-left: 0px}*/
.atframe .list-inline-item span:hover {text-decoration: underline}

.videoholder .vjs-tip {bottom: 8px; opacity: 1; filter: alpha(opacity=100);}
.videoholder .vjs-tip .vjs-tip-inner { line-height: 25px;}